h1, h2, legend{
  font-family: "Staatliches", sans-serif;
}

body{
  background: #BFD7E4;
  font-family: "Poppins", sans-serif;
}
body::before {
  content: '';
  width: 100%;
  height: 465px;

  background: #293241;

  position: absolute;
  z-index: -1;
  top: 0;
}
header {
  text-align: center;

  margin-top: 107px;
}

header img {
  width: 224px;
}
.titulo{
  background: #F67669;
}
form {
  background: white;
}
form .botao{
  background: #F67669;
}